h2 {
    text-align: center;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 15px;
  }
  
  .actions {
    display: flex;
    justify-content: space-between;
  }
  
  button {
    margin: 10px;
  }
  