<h1 mat-dialog-title>{{ data.isEditMode ? 'Actualizar' : 'Agregar' }} Personaje</h1>

<mat-dialog-content>

  <mat-dialog-content appearance="fill">
    <mat-label>Imagen</mat-label>
    <input (change)="onFileChange($event)" accept=".jpg, .png, .jpeg" type="file">
  </mat-dialog-content>

  <!-- Mostrar la imagen actual -->
  <mat-card *ngIf="!isNewImage && personaje.imagenUrl" class="current-image-card">
    <mat-card-header>
      <mat-card-title>Imagen Actual:</mat-card-title>
    </mat-card-header>
    <img [src]="getImageUrl(personaje.id)" alt="Imagen Actual" class="current-image">
  </mat-card>

  <!-- Mostrar la vista previa de la nueva imagen -->
  <mat-card *ngIf="imagenPreview" class="preview-card">
    <mat-card-header>
      <mat-card-title>Vista Previa de la Imagen:</mat-card-title>
    </mat-card-header>
    <img [src]="imagenPreview" alt="Vista Previa no disponible" class="preview-image">
  </mat-card>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-stroked-button color="warn" (click)="onNoClick()">
    Cancelar
    <mat-icon>cancel</mat-icon>
  </button>
  <button mat-raised-button color="primary" (click)="onSubmit()">
    Enviar
    <mat-icon>check_circle</mat-icon>
  </button>
</mat-dialog-actions>
