<h1 mat-dialog-title>{{ data.isEditaPMode ? 'Actualizar' : 'Agregar' }} Contraseña</h1>

<mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Contraseña Actual</mat-label>
    <input matInput [type]="showOldPassword ? 'text' : 'password'" [(ngModel)]="oldPassword" placeholder="Ingrese su contraseña actual" required>
    <button mat-icon-button matSuffix (click)="toggleOldPasswordVisibility()">
      <mat-icon>{{ showOldPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Nueva Contraseña</mat-label>
    <input matInput [type]="showNewPassword ? 'text' : 'password'" [(ngModel)]="personaje.contrasenia" placeholder="Ingrese nueva contraseña" required>
    <button mat-icon-button matSuffix (click)="toggleNewPasswordVisibility()">
      <mat-icon>{{ showNewPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
  </mat-form-field>

  <!-- Mensaje de error -->
  <div *ngIf="errorMessage" class="error-message" style="color: red;">
    {{ errorMessage }}
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-stroked-button color="warn" (click)="onNoClick()">
    Cancelar
    <mat-icon>cancel</mat-icon>
  </button>
  <button mat-raised-button color="primary" (click)="onSubmit()">
    Enviar
    <mat-icon>check_circle</mat-icon>
  </button>
</mat-dialog-actions>
