<h1 mat-dialog-title>Delete Character</h1>
<mat-dialog-content>
  <p>¿Estás seguro de que quieres eliminar a {{data.personaje.nombre}}?</p>
  <img *ngIf="data.personaje.imagenUrl" [src]="data.personaje.imagenUrl" alt="{{data.personaje.nombre}}" style="width: 100px; height: auto; object-fit: cover;">
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="dialogRef.close()">Cancelar</button>
  <button mat-button color="warn" (click)="Eliminacion()">Eliminar</button>
</mat-dialog-actions>
