/* You can add global styles to this file, and also import other style files */
h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
  }
  h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }
  body {
    margin: 0;
    background-color: #ffffff;
  }
  body, input[type="text"], button {
    color: #333;
    font-family: Cambria, Georgia;
  }
  /* everywhere else */
  * {
    font-family: Arial, Helvetica, sans-serif;
  }

  .ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  .li {
    float: left;
    color: white;
  }
  .li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
  }
  .lo {
    float: right;
    color: white;
  }
  .lo a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
  }
  
  .lo a:hover {
    background-color: #111;
  }
  
  /* Change the link color to #111 (black) on hover */
  .li a:hover {
    background-color: #111;
  }

  .li .buttonNav {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Change the link color to #111 (black) on hover */
  .li .buttonNav:hover {
    background-color: #111;
  }

  .button {
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    font-size: 18px;
    color: rgb(193, 163, 98);
    border: 2px solid rgb(193, 163, 98);
    border-radius: 34px;
    background-color: transparent;
    font-weight: 600;
    transition: color 0.3s cubic-bezier(0.23, 1, 0.320, 1), 
                box-shadow 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
    /* Ensure the button content remains on top of the pseudo-element */
    z-index: 1;
}

.button::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgb(193, 163, 98);
    border-radius: inherit;
    transform: scale(0);
    transform-origin: center;
    transition: transform 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    z-index: -1; /* Ensure it appears behind the button text */
}

.button:hover::before {
    transform: scale(1);
}

.button:hover {
    color: #212121;
    box-shadow: 0 0px 20px rgba(193, 163, 98, 0.4);
}


  /* From Uiverse.io by alexruix */ 
.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 190px;
}

.input {
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  width: 100%;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #D9E8D8;
  color: #0d0c22;
  box-shadow: 0 0 5px #C1D9BF, 0 0 0 10px #000000eb;
  transition: .3s ease;
}

.input::placeholder {
  color: #777;
}

.row{
  display: flex;
}

.col{
  flex-grow: 2;
  margin-right: 10px;
}

.inputdbz{
  display: block;
  margin: 5px;
}



.example-card {
  max-width: 400px;
  margin-bottom: 8px;
}

.current-image,
.preview-image {
  width: 100px;
  height: auto;
  object-fit: cover;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
